*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-garden {
    background-color: rgb(13, 13, 13);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
}

.image-wrapper{
    /* background-color: aqua; */
    background-image: url(../images/dracula.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 500px;
    border-radius: 8px;
    /* box-shadow: 3px 2px 24px 3px rgba(4, 187, 228, 0.435);
-webkit-box-shadow: 3px 2px 24px 3px rgba(4, 187, 228, 0.437);
-moz-box-shadow: 3px 2px 24px 3px rgba(4, 187, 228, 0.345); */
box-shadow:
    0 0 60px 10px #ffffff52,
    0 0 100px 20px rgba(255, 0, 255, 0.338),
    0 0 140px 30px rgba(0, 255, 255, 0.439);
    transition:rotate 700ms ease;
    transform-style: preserve-3d;
}


.image-wrapper::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 500px;
    backdrop-filter: blur(7px);
    background-image: radial-gradient(circle, transparent 100px, rgba(61, 145, 116, 0.333));
    transition: opacity 0.3s ease;
    opacity: 0;
}
.image-wrapper:hover::before {
    opacity: 1;
}
.image-wrapper:hover{
    /* rotate: x 30deg; */
    rotate: x 20deg;
}

/* .image-wrapper::after{
    content:"";
    width: 300px;
    height: 400px;
    background-image: url(../images/dracula-overlay.png);
    background-size: cover;
    background-position: top;
    position: absolute;
    top:0;
} */


.inner-logo{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    perspective: 1000px;
    
}
.inner-logo img{
    transition: 0.3s ease;
    width: 200px;
}

#overlay{
    transition: opacity ease 0.5s;
    opacity: 0;
    position: absolute;
    z-index: 100;
    /* transform: translateY(300px); */
}